<i>Welcome to computer configuration utility. Please consult your system administrator if you have any questions about your device.</i><hr>
<h2>Processor</h2>
	<div class="itemLabel">
		Processor:
	</div>
{{if data.processor_exists}}
	<div class="itemContent">
		{{:data.processor_name}}
	</div>
	<i>{{:data.processor_desc}}</i><br>
	<div class="itemLabel">
		Programs Running:
	</div>
	<div class="itemContent">
		{{:data.processor_running}}/{{:data.processor_maxrunning}}
	</div>
	<div class="itemLabel">
		Power Usage: 
	</div>
	<div class="itemContent">
		{{:data.processor_power}}W
	</div>
{{else}}
	<div class="itemContent"
		Not Available
	</div>
{{/if}}

<h2>Network Device</h2>
	<div class="itemLabel">
		Network Adaptor:
	</div>
{{if data.networkcard_exists}}
	<div class="itemContent">
		{{:data.networkcard_name}}
	</div>
	<i>{{:data.networkcard_desc}}</i><br>
	<div class="itemLabel">
		Connectivity:
	</div>
	<div class="itemContent">
		WIP
	</div>
    <div class="itemLabel">
        Toggle: 
    </div>
    <div class="itemContent">
        {{:helper.link("ON", null, {'PC_enable_component' : data.networkcard_name}, data.networkcard_enabled ? 'disabled' : null)}}
        {{:helper.link("OFF", null, {'PC_disable_component' : data.networkcard_name}, data.networkcard_enabled ? null : 'disabled')}}
    </div>	
	<div class="itemLabel">
		Power Usage: 
	</div>
	<div class="itemContent">
		{{:data.networkcard_power}}W
	</div>

{{else}}
	<div class="itemContent"
		Not Available
	</div>
{{/if}}

<h2>Disk Storage</h2>
	<div class="itemLabel">
		Hard Disk:
	</div>
{{if data.harddisk_exists}}
	<div class="itemContent">
		{{:data.harddisk_name}}
	</div>
	<i>{{:data.harddisk_desc}}</i><br>
	</div>
	<div class="itemLabel">
		Used Capacity:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.harddisk_used, 0, data.harddisk_size, (data.harddisk_used/data.harddisk_size >= 0.9) ? 'bad' : (data.harddisk_used/data.harddisk_size >= 0.7) ? 'average' : 'good')}}
		{{:data.harddisk_used}}GQ / {{:data.harddisk_size}}GQ
	</div>
	<div class="itemLabel">
		Power Usage: 
	</div>
	<div class="itemContent">
		{{:data.harddisk_power}}W
	</div>

{{else}}
	<div class="itemContent"
		Not Available
	</div>
{{/if}}

<h2>Portable Device</h3>
<div class="itemLabel">
	Portable Device: 
</div>
{{if data.usb_exists}}
	<div class="itemContent">
		{{:data.usb_name}}
	</div>
	<i>{{:data.usb_desc}}</i><br>


	{{if data.usb_type == 1}}<!-- harddrive -->
		<div class="itemLabel">
			Used Capacity: 
		</div>
		<div class="itemContent">
		{{:helper.displayBar(data.usb_current, 0, data.usb_upper, (data.usb_current/data.usb_upper >= 0.9) ? 'bad' : (data.usb_current/data.usb_upper >= 0.7) ? 'average' : 'good')}}
		{{:data.usb_current}}GQ / {{:data.usb_upper}}GQ
		</div>
		<div class="itemLabel">
			Power Usage: 
		</div>
		<div class="itemContent">
			{{:data.harddisk_power}}W
		</div>

	{{else data.usb_type == 2}}<!-- battery -->
		<div class="itemLabel">
			Battery Rating: 
		</div>
		<div class="itemContent">
			{{:data.usb_upper}}
		</div>
		<div class="itemLabel">
			Battery Charge: 
		</div>
		<div class="itemContent">
			{{:helper.displayBar(data.usb_percent, 0, 100, (data.usb_percent <= 25) ? 'bad' : (data.usb_percent <= 50) ? 'average' : 'good')}}
			<b>{{:data.usb_percent}} %</b>
		</div>
		<div class="itemLabel">
			Toggle: 
		</div>
		<div class="itemContent">
			{{:helper.link("ON", null, {'PC_enable_component' : data.usb_name}, data.usb_enabled ? 'disabled' : null)}}
			{{:helper.link("OFF", null, {'PC_disable_component' : data.usb_name}, data.usb_enabled ? null : 'disabled')}}
		</div>	
	{{else}}
		<div class="itemLabel">
			Device Not Supported
		</div>
		<div class="itemLabel">
			Power Usage: 
		</div>
		<div class="itemContent">
			{{:data.usb_power}}W
		</div>

	{{/if}}
{{else}}
	<div class="itemContent">
		Not Available
	</div>
{{/if}}



<h2>Power Supply</h2>
<div class="itemLabel">
	Battery Status: 
</div>
{{if data.battery_exists}}
	<div class="itemContent">
		Active
	</div>
	<div class="itemLabel">
		Battery Rating: 
	</div>
	<div class="itemContent">
		{{:data.battery_rating}}
	</div>
	<div class="itemLabel">
		Battery Charge: 
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.battery_percent, 0, 100, (data.battery_percent <= 25) ? 'bad' : (data.battery_percent <= 50) ? 'average' : 'good')}}
		<b>{{:data.battery_percent}} %</b>
	</div>
{{else}}
	<div class="itemContent">
		Not Available
	</div>
{{/if}}
	<hr><div class="itemLabel">
		Tesla Relay:
	</div>
{{if data.tesla_exists}}
	<div class="itemContent">
		{{:data.tesla_name}}
	</div>
	<i>{{:data.tesla_desc}}</i><br>
    
    <div class="itemLabel">
        Power Generation:
    </div>
	<div class="itemContent">
		{{:data.tesla_rate}}/{{:data.tesla_power}}
	</div>
{{else}}
	<div class="itemContent">
		Not Available
	</div>    
{{/if}}


<div class="itemLabel">
	Total Power Usage: 
</div>
<div class="itemContent">
	{{:data.power_usage}}W
</div>


<h2>Computer Components</h2>
{{for data.hardware}}
	<h3>{{:value.name}}</h3>
	<i>{{:value.desc}}</i><br>
	<div class="itemLabel">
		State: 
	</div>
	<div class="itemContent">
		{{:value.enabled ? "Enabled" : "Disabled"}}
	</div>	
	<div class="itemLabel">
		Power Usage: 
	</div>
	<div class="itemContent">
		{{:value.powerusage}}W
	</div>
	{{if !value.critical}}
	<div class="itemLabel">
		Toggle Component: 
	</div>
	<div class="itemContent">
		{{:helper.link("ON", null, {'PC_enable_component' : value.name}, value.enabled ? 'disabled' : null)}}
		{{:helper.link("OFF", null, {'PC_disable_component' : value.name}, value.enabled ? null : 'disabled')}}
	</div>			
	{{/if}}
	<br><br>
{{/for}}
<hr><hr>
<i>NTOS v2.0.4b Copyright NanoTrasen 2557 - 2559</i>